<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Файлики</title>
</head>
<body>
<h3>Загруженные файлы</h3>
<ul>
 <table>
        <thead>
           <th>Id</th><th>Имя файла</th><th>Материал</th><th>Картинка</th>

       </thead>
  {% for post in object_list %}

<tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td><a href="{{ post.cover.url }}">Link</a></td>
        <td><img src="{{ post.cover.url}}" width="100px" alt="{{ post.title }}"><br/></td>
        <td><a href="edit/{{post.id}}">Изменить</a>
                <a href="delete/{{post.id}}">Удалить</a>
                <a href="calc/{{post.id}}">Посчитать</a>
            </td>


         {% endfor %}
    </table>


</ul>
</body>
</html>

